{% extends 'hotel/base/base.html' %}

{% block title %}Home Page{% endblock %}


{% block content %}
<div class="jumbotron text-center pt-5 mb-0" style="background-color: #f8f9fa;">
    <!-- Content for jumbotron as before -->
</div>


<div class="container-fluid pt-5 mx-auto">
    <h2 class="text-center bg-dark text-white">All the room you booked</h2>
    
    <div class="container-fluid pt-5">
        <div class="row">
            
            <div class="col-md-6 col-md-6 col-lg-4 mb-5 mx-auto">
                <div class="card mb-5" style="object-fit: cover; width: 500px; ">
                    <img src="{{ room.room_type.images.url }}" alt="room image" class="card-img-top" style="object-fit: cover; height: 500px;">
                    <div class="card-body">
                        
                        <!-- <p class="card-text" style="font-family:sans-serif; display: block; font: bold; font-size: 1.5rem;">{{ room.description |safe}}</p> -->
                        <div class="">
                            <div class="col-md-12 col-sm-12">
                                <h2 class="card-title" style="font-size: 1.5rem; color:black;">Room Name: {{ room.room_type.name }}</h2>
                                <hr>
                                <span style="font-size: 1.2rem; color:black;">Price: <strike>N</strike>{{ total_price }}</span>
                                <hr>
                                <span style="font-size: 1.2rem; color: black;"> From: {{ room.check_in }}</span>
                                <hr>
                                <!-- <span style="font-size: 1.2rem; color: black;"> User: {{ room.user.email }}</span> -->
                                <!-- <hr> -->
                                <span style="font-size: 1.2rem; color: black;">To: {{ room.check_out }}</span>
                                <hr>
                                <span style="font-size: 1.2rem; color: black;">Number of days: {{ number_of_days }}</span>
                                <hr>

                            </div>
                            <div class="row">
                                <div class=" col-md-4 col-sm-4 mx-auto">
                                    <button type="submit"  onclick="makePayment()" class="btn btn-success booking-button">Pay</button>
                                    <!-- <a href="" class="btn btn-secondary btn-block ">Cancel</a> -->
                                </div>
                                <div class="col-md-4 col-sm-4 mx-auto">
                                    <a href="{% url 'home' %}" class="btn btn-danger secondary btn-block ">Cancel</a>
                                </div>

                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <div class="mx-auto mb-5">
        <div class="col-md-4 text-center mx-auto">
            <a href="{% url 'home' %}" class="text-primary booking-button">Book Another Room</a>
        </div>
        
        <div class="col-md-6 text-center mx-auto">
            <a href="{% url 'booked_room' %}" class="text-dark booking-button">Pay all at once</a>
        </div>

    </div>
</div>

<!-- all categories -->
<div class="container-fluid mb-5 pt-5">
    <div class="row mb-5">
        {% for room in roomtypes %}
        <div class="col-md-6 col-md-4 col-lg-4 mb-5">
            <div class="card mb-5" style="object-fit: cover; width: 500px; ">
                <img src="{{ room.images.url }}" alt="room image" class="card-img-top" style="object-fit: cover; height: 500px;">
                <div class="card-body">
                    <h2 class="card-title" style="font-size: 1.5rem;">{{ room.name|safe }}</h2>
                    <p class="card-text" style="font-family:sans-serif; display: block; font: bold; font-size: 1.5rem;">{{ room.description |safe}}</p>
                    <div class="row p-5" style="background-color: silver;">
                        <div class="col-md-4 col-sm-3 mx-auto">
                            <span style="font-size: 1.2rem; color: whitesmoke;"><strike>N</strike>: {{ room.price }}<small>/day</small></span>
                        </div>
                        <div class="col-md-4 col-sm-4 mx-auto">
                            <a href="{% url 'booking_room' room.id %}" class="btn btn-secondary btn-block ">Book Room</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>




<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
    function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-6b070fbc8f443037d69d6c0fe33c7452-X",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: {{ total_price }},
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "https://http://127.0.0.1:8000/payment",
      meta: {
        consumer_id: {{ room.id }},
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{ room.user.email }}",
        // phone_number: "08102909304",
        name: "{{ room.user.first_name }}",
      },
      customizations: {
        title: "{{ room.hotel.name }}",
        description: "Payment for {{room.room_type.name}} at Zuma Resort",
        logo: "{{logos.logo.url}}",
      },
    });
  }

</script>    
{% endblock %}
